<form [formGroup]="form" class="example-container" (submit)="operate()">
  <div [hidden]="true">
    <mat-form-field>
      <input matInput placeholder="ID" required formControlName="idProject">
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput placeholder="Name" required formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Company" required formControlName="company">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" required formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Status" required formControlName="status">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Done</span>
  </button>

  <button mat-raised-button color="accent" type="button" routerLink="/pages/project">
    <mat-icon>cancel</mat-icon>
    <span>Cancel</span>
  </button>

</form>
